In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("datasets/wageGenderEduAge.csv")

In [4]:
display(df)

      wage  education  age  gender
0     5.10          8   35  female
1     4.95          9   57  female
2     5.71         12   34  female
3     3.35         12   26  female
4     4.00         12   64  female
..     ...        ...  ...     ...
529  12.50         15   31    male
530  16.00         12   30    male
531  11.36         18   29    male
532  19.88         12   31    male
533  15.38         16   55    male

[534 rows x 4 columns]

For this project, we are going to visualize and fit some real data on pay as a function of gender,
education level, and age. Your mission is to determin if females and males recieve roughly
equal pay, and if this holds for people of ages and education levels.
The data are in the wageGenderEduAge.csv file.
There are 4 variables "wage", "education", "age", and "gender". Your job is to explore the data
visually and to identify and illustrate any obvious and important trends. The data are real and,
suitably presented, should reveal an actual problem in our society.
Note that there is one (and only one) obvious y-axis or "dependent" variable: wage. There is
also one categorical or grouping variable: gender.
The final product should be a brief report – perhaps 3 figures or so – that reaches a data-
driven conclusion about the state of the world.
Make sure describe each figure fully so that a naive reader could understand exactly what is
being plotting, and make sure each figure has informative axis labels, etc., and that is looks
good.